## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < 500].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < 1000].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns='IS_SUCCESSFUL')
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, input_dim=input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                         â”ƒ Output Shape                â”ƒ         Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                        â”‚ (None, 128)                 â”‚           5,632 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                      â”‚ (None, 64)                  â”‚           8,256 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                      â”‚ (None, 1)                   â”‚              65 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 13,953 (54.50 KB)

 Trainable params: 13,953 (54.50 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=100, batch_size=64, validation_split=0.2)

Epoch 1/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 7s 7ms/step - accuracy: 0.7061 - loss: 0.5925 - val_accuracy: 0.7320 - val_loss: 0.5512
Epoch 2/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7239 - loss: 0.5571 - val_accuracy: 0.7336 - val_loss: 0.5542
Epoch 3/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7230 - loss: 0.5629 - val_accuracy: 0.7354 - val_loss: 0.5489
Epoch 4/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7265 - loss: 0.5557 - val_accuracy: 0.7391 - val_loss: 0.5477
Epoch 5/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7318 - loss: 0.5467 - val_accuracy: 0.7378 - val_loss: 0.5462
Epoch 6/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7291 - loss: 0.5508 - val_accuracy: 0.7367 - val_loss: 0.5456
Epoch 7/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7347 - loss: 0.5482 - val_accuracy: 0.7343 - val_loss: 0.5446
Epoch 8/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7295 - loss: 0.5466 - val_accuracy: 0.7392 - val_loss: 0.5465
Epoch 9/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.7334 - loss: 0.5454 - val_accuracy: 0.7387 - val_loss: 0.5468
Epoch 10/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7308 - loss: 0.5489 - val_accuracy: 0.7372 - val_loss: 0.5452
Epoch 11/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7308 - loss: 0.5478 - val_accuracy: 0.7352 - val_loss: 0.5437
Epoch 12/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7344 - loss: 0.5459 - val_accuracy: 0.7340 - val_loss: 0.5474
Epoch 13/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7374 - loss: 0.5408 - val_accuracy: 0.7349 - val_loss: 0.5477
Epoch 14/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7319 - loss: 0.5462 - val_accuracy: 0.7385 - val_loss: 0.5436
Epoch 15/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7299 - loss: 0.5481 - val_accuracy: 0.7374 - val_loss: 0.5439
Epoch 16/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7370 - loss: 0.5412 - val_accuracy: 0.7400 - val_loss: 0.5437
Epoch 17/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7306 - loss: 0.5448 - val_accuracy: 0.7389 - val_loss: 0.5436
Epoch 18/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.7359 - loss: 0.5422 - val_accuracy: 0.7376 - val_loss: 0.5454
Epoch 19/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7415 - loss: 0.5357 - val_accuracy: 0.7394 - val_loss: 0.5445
Epoch 20/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7371 - loss: 0.5397 - val_accuracy: 0.7367 - val_loss: 0.5476
Epoch 21/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7333 - loss: 0.5471 - val_accuracy: 0.7369 - val_loss: 0.5438
Epoch 22/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7321 - loss: 0.5428 - val_accuracy: 0.7387 - val_loss: 0.5428
Epoch 23/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7345 - loss: 0.5422 - val_accuracy: 0.7394 - val_loss: 0.5443
Epoch 24/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7384 - loss: 0.5388 - val_accuracy: 0.7371 - val_loss: 0.5434
Epoch 25/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7410 - loss: 0.5349 - val_accuracy: 0.7400 - val_loss: 0.5453
Epoch 26/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7376 - loss: 0.5398 - val_accuracy: 0.7398 - val_loss: 0.5460
Epoch 27/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7347 - loss: 0.5419 - val_accuracy: 0.7374 - val_loss: 0.5456
Epoch 28/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - accuracy: 0.7408 - loss: 0.5341 - val_accuracy: 0.7374 - val_loss: 0.5460
Epoch 29/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7323 - loss: 0.5395 - val_accuracy: 0.7396 - val_loss: 0.5425
Epoch 30/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7374 - loss: 0.5409 - val_accuracy: 0.7374 - val_loss: 0.5427
Epoch 31/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 2ms/step - accuracy: 0.7348 - loss: 0.5392 - val_accuracy: 0.7372 - val_loss: 0.5447
Epoch 32/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7388 - loss: 0.5346 - val_accuracy: 0.7372 - val_loss: 0.5448
Epoch 33/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7359 - loss: 0.5386 - val_accuracy: 0.7351 - val_loss: 0.5459
Epoch 34/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7345 - loss: 0.5423 - val_accuracy: 0.7372 - val_loss: 0.5436
Epoch 35/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7405 - loss: 0.5383 - val_accuracy: 0.7382 - val_loss: 0.5459
Epoch 36/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7366 - loss: 0.5404 - val_accuracy: 0.7391 - val_loss: 0.5482
Epoch 37/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.7363 - loss: 0.5396 - val_accuracy: 0.7403 - val_loss: 0.5429
Epoch 38/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.7374 - loss: 0.5340 - val_accuracy: 0.7389 - val_loss: 0.5436
Epoch 39/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7327 - loss: 0.5454 - val_accuracy: 0.7365 - val_loss: 0.5457
Epoch 40/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7436 - loss: 0.5324 - val_accuracy: 0.7371 - val_loss: 0.5474
Epoch 41/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7296 - loss: 0.5445 - val_accuracy: 0.7376 - val_loss: 0.5472
Epoch 42/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7398 - loss: 0.5330 - val_accuracy: 0.7385 - val_loss: 0.5465
Epoch 43/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7372 - loss: 0.5369 - val_accuracy: 0.7391 - val_loss: 0.5448
Epoch 44/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7325 - loss: 0.5418 - val_accuracy: 0.7391 - val_loss: 0.5455
Epoch 45/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7436 - loss: 0.5318 - val_accuracy: 0.7382 - val_loss: 0.5448
Epoch 46/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7353 - loss: 0.5402 - val_accuracy: 0.7380 - val_loss: 0.5448
Epoch 47/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.7315 - loss: 0.5429 - val_accuracy: 0.7392 - val_loss: 0.5460
Epoch 48/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7422 - loss: 0.5304 - val_accuracy: 0.7392 - val_loss: 0.5459
Epoch 49/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7409 - loss: 0.5356 - val_accuracy: 0.7352 - val_loss: 0.5462
Epoch 50/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7379 - loss: 0.5373 - val_accuracy: 0.7380 - val_loss: 0.5461
Epoch 51/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7428 - loss: 0.5276 - val_accuracy: 0.7394 - val_loss: 0.5475
Epoch 52/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7369 - loss: 0.5371 - val_accuracy: 0.7391 - val_loss: 0.5459
Epoch 53/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7368 - loss: 0.5407 - val_accuracy: 0.7382 - val_loss: 0.5515
Epoch 54/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7379 - loss: 0.5341 - val_accuracy: 0.7380 - val_loss: 0.5467
Epoch 55/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7390 - loss: 0.5351 - val_accuracy: 0.7374 - val_loss: 0.5466
Epoch 56/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.7395 - loss: 0.5357 - val_accuracy: 0.7387 - val_loss: 0.5482
Epoch 57/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7365 - loss: 0.5348 - val_accuracy: 0.7369 - val_loss: 0.5469
Epoch 58/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7370 - loss: 0.5380 - val_accuracy: 0.7400 - val_loss: 0.5469
Epoch 59/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7383 - loss: 0.5351 - val_accuracy: 0.7378 - val_loss: 0.5483
Epoch 60/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7369 - loss: 0.5352 - val_accuracy: 0.7372 - val_loss: 0.5469
Epoch 61/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7411 - loss: 0.5331 - val_accuracy: 0.7392 - val_loss: 0.5492
Epoch 62/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7397 - loss: 0.5361 - val_accuracy: 0.7360 - val_loss: 0.5489
Epoch 63/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7407 - loss: 0.5344 - val_accuracy: 0.7372 - val_loss: 0.5499
Epoch 64/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7395 - loss: 0.5361 - val_accuracy: 0.7389 - val_loss: 0.5523
Epoch 65/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.7364 - loss: 0.5354 - val_accuracy: 0.7392 - val_loss: 0.5480
Epoch 66/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7409 - loss: 0.5342 - val_accuracy: 0.7382 - val_loss: 0.5488
Epoch 67/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7355 - loss: 0.5358 - val_accuracy: 0.7392 - val_loss: 0.5483
Epoch 68/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7359 - loss: 0.5377 - val_accuracy: 0.7367 - val_loss: 0.5511
Epoch 69/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7375 - loss: 0.5325 - val_accuracy: 0.7380 - val_loss: 0.5483
Epoch 70/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7425 - loss: 0.5297 - val_accuracy: 0.7396 - val_loss: 0.5489
Epoch 71/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7360 - loss: 0.5407 - val_accuracy: 0.7391 - val_loss: 0.5503
Epoch 72/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7345 - loss: 0.5373 - val_accuracy: 0.7380 - val_loss: 0.5504
Epoch 73/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7397 - loss: 0.5325 - val_accuracy: 0.7389 - val_loss: 0.5505
Epoch 74/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - accuracy: 0.7449 - loss: 0.5304 - val_accuracy: 0.7385 - val_loss: 0.5497
Epoch 75/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.7381 - loss: 0.5384 - val_accuracy: 0.7383 - val_loss: 0.5513
Epoch 76/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7352 - loss: 0.5368 - val_accuracy: 0.7376 - val_loss: 0.5504
Epoch 77/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7404 - loss: 0.5352 - val_accuracy: 0.7385 - val_loss: 0.5499
Epoch 78/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7334 - loss: 0.5385 - val_accuracy: 0.7378 - val_loss: 0.5512
Epoch 79/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7417 - loss: 0.5324 - val_accuracy: 0.7374 - val_loss: 0.5512
Epoch 80/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7481 - loss: 0.5250 - val_accuracy: 0.7385 - val_loss: 0.5485
Epoch 81/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7403 - loss: 0.5328 - val_accuracy: 0.7387 - val_loss: 0.5501
Epoch 82/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7341 - loss: 0.5398 - val_accuracy: 0.7372 - val_loss: 0.5528
Epoch 83/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.7393 - loss: 0.5357 - val_accuracy: 0.7372 - val_loss: 0.5541
Epoch 84/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7354 - loss: 0.5369 - val_accuracy: 0.7383 - val_loss: 0.5550
Epoch 85/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7359 - loss: 0.5362 - val_accuracy: 0.7387 - val_loss: 0.5524
Epoch 86/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7431 - loss: 0.5311 - val_accuracy: 0.7378 - val_loss: 0.5509
Epoch 87/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7435 - loss: 0.5281 - val_accuracy: 0.7396 - val_loss: 0.5515
Epoch 88/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7388 - loss: 0.5341 - val_accuracy: 0.7360 - val_loss: 0.5515
Epoch 89/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7385 - loss: 0.5345 - val_accuracy: 0.7367 - val_loss: 0.5518
Epoch 90/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7471 - loss: 0.5270 - val_accuracy: 0.7398 - val_loss: 0.5537
Epoch 91/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7364 - loss: 0.5385 - val_accuracy: 0.7403 - val_loss: 0.5530
Epoch 92/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.7406 - loss: 0.5336 - val_accuracy: 0.7365 - val_loss: 0.5518
Epoch 93/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 4ms/step - accuracy: 0.7399 - loss: 0.5312 - val_accuracy: 0.7380 - val_loss: 0.5537
Epoch 94/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 3ms/step - accuracy: 0.7422 - loss: 0.5297 - val_accuracy: 0.7394 - val_loss: 0.5501
Epoch 95/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7382 - loss: 0.5332 - val_accuracy: 0.7371 - val_loss: 0.5520
Epoch 96/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7413 - loss: 0.5345 - val_accuracy: 0.7396 - val_loss: 0.5527
Epoch 97/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7439 - loss: 0.5285 - val_accuracy: 0.7378 - val_loss: 0.5532
Epoch 98/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7396 - loss: 0.5312 - val_accuracy: 0.7383 - val_loss: 0.5547
Epoch 99/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7393 - loss: 0.5318 - val_accuracy: 0.7365 - val_loss: 0.5545
Epoch 100/100
343/343 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.7367 - loss: 0.5380 - val_accuracy: 0.7394 - val_loss: 0.5533

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7273 - loss: 0.5703
Loss: 0.5702836513519287, Accuracy: 0.7272594571113586

In [16]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.